/uscsp301 pract 1/nbproject/private/
/uscsp301 pract 1/build/
/24kalam/nbproject/private/
/oneBINSPractical/nbproject/private/
/503_STQA/Practical1/nbproject/private/
/503_STQA/Practical1/build/
/503_STQA/practical-2/nbproject/private/
/503_STQA/prac-2/nbproject/private/
/503_STQA/MyFib1/nbproject/private/
/503_STQA/pract-3/nbproject/private/
/503_STQA/pract-3/build/
/502_INS/SHA-Program-INS/nbproject/private/
/502_INS/SHA-Program-INS/build/
/502_INS/Pract-5/Practical5/nbproject/private/